[defaults]
; This remote_user account corresponds to the one created in the
; make-multipass-inventory play.
remote_user = ansible
; This private_key_file corresponds to the one created in the
; make-multipass-inventory play.
private_key_file = id_ansible_rsa
; Setting host_key_checking = False is permissible because
; the Inventory hosts are Multipass VMs running on the Ansible Control Node
host_key_checking = False
collections_paths = ./collections
roles_path = ./roles
