services:
  traefik:
    restart: always
    image: "traefik:2.11"
    command:
    - "--configFile=/etc/traefik/config.yaml"
    deploy:
      mode: global
      labels:
      - "orchestrator=polaris-stackmanager"
      - "traefik.enable=true"

      - "traefik.http.routers.dashboard.rule=Host(`traefik.local`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.tls.domains.main=traefik.local"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.middlewares=username-password"
      - "traefik.http.services.dashboard.loadbalancer.server.port=80"

      - "traefik.http.routers.metrics.rule=Host(`traefik.local`) && PathPrefix(`/metrics`)"
      - "traefik.http.routers.metrics.service=prometheus@internal"
      - "traefik.http.routers.metrics.tls.domains.main=traefik.local"
      - "traefik.http.routers.metrics.entrypoints=websecure"
      - "traefik.http.routers.metrics.middlewares=username-password"

      - "traefik.http.middlewares.username-password.basicauth.users={{ lb_DashboardAndMetricsBasicAuthUsers }}"
      placement:
        constraints: [node.role==manager, node.hostname==swarm-manager]
    configs:
      - source: config
        target: /etc/traefik/config.yaml
        mode: 0444
      - source: dynamic_config
        target: /etc/traefik/dynamic/dynamic-config.yaml
        mode: 0444
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/traefik/certificates:/etc/traefik/certificates
    ports:
    # Traefik entrypoint: web
    - {mode: host, protocol: tcp, published: 80, target: 80}
    # Traefik entrypoint: websecure
    - {mode: host, protocol: tcp, published: 443, target: 443}
    # Traefik entrypoint: dbExporter
    - {mode: host, protocol: tcp, published: 9104, target: 9104}
    networks:
    - traefik

configs:
  config:
    file: config.yaml
    name: config_2025021301
  dynamic_config:
    file: dynamic-config.yaml
    name: dynamic_config_2025021301

networks:
  traefik:
    external: true
